tap "alphagov/gds"
tap "buildpacks/tap"
tap "buo/cask-upgrade"
tap "cloudfoundry/tap"
tap "colindean/fonts-nonfree"
tap "deref/tap"
tap "github/gh"
tap "hashicorp/tap"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "iron-fish/brew"
tap "keith/formulae"
tap "khanhas/tap"
tap "mdp/tap"
tap "ms-jpq/sad"
tap "noahgorstein/tap"
tap "snyk/tap"
tap "spicetify/tap"
tap "teamookla/speedtest"
brew "libtiff"
brew "python@3.11"
brew "asciinema"
brew "asdf"
brew "openssl@1.1"
brew "docutils"
brew "awscli"
brew "bash"
brew "bash-completion@2"
brew "bitwarden-cli"
brew "bottom"
brew "libmpc"
brew "gcc"
brew "btop"
brew "gettext"
brew "glib"
brew "python@3.9"
brew "libidn2"
brew "unbound"
brew "gnutls"
brew "emacs"
brew "cask"
brew "chezmoi"
brew "cmake"
brew "libssh2"
brew "openldap"
brew "rtmpdump"
brew "curl"
brew "direnv"
brew "doctl"
brew "harfbuzz"
brew "libass"
brew "ffmpeg"
brew "fx"
brew "fzy"
brew "gd"
brew "gdk-pixbuf"
brew "get_iplayer"
brew "gh"
brew "git"
brew "git-delta"
brew "glow"
brew "go"
brew "gobject-introspection"
brew "gojq"
brew "netpbm"
brew "librsvg"
brew "graphviz"
brew "gum"
brew "htmlq"
brew "httpie"
brew "ipfs"
brew "oniguruma"
brew "jq"
brew "lf"
brew "libxml2"
brew "libxslt"
brew "mas"
brew "micro"
brew "navi"
brew "neovim"
brew "node@16"
brew "openjdk"
brew "pinentry-mac"
brew "procs"
brew "protobuf"
brew "python@3.10"
brew "tcl-tk"
brew "python@3.8"
brew "rust"
brew "screenfetch"
brew "sslmate"
brew "stow"
brew "tealdeer"
brew "thefuck"
brew "tig"
brew "tmux"
brew "wget"
brew "wifi-password"
brew "wireguard-tools"
brew "wxwidgets"
brew "yarn"
brew "ykman"
brew "you-get"
brew "youtube-dl"
brew "yt-dlp"
brew "zsh"
brew "alphagov/gds/gds-cli"
brew "buildpacks/tap/pack"
brew "cloudfoundry/tap/cf-cli@8"
brew "deref/tap/exo"
brew "hashicorp/tap/packer"
brew "heroku/brew/heroku"
brew "keith/formulae/zap"
brew "mdp/tap/qrterminal"
brew "ms-jpq/sad/sad"
brew "noahgorstein/tap/jqp"
brew "spicetify/tap/spicetify-cli"
brew "teamookla/speedtest/speedtest"
cask "adobe-acrobat-pro"
cask "adobe-acrobat-reader"
cask "adobe-creative-cloud"
cask "aldente"
cask "anytype"
cask "appcleaner"
cask "audient-evo"
cask "authy"
cask "autodesk-fusion360"
cask "aws-vault"
cask "bitwarden"
cask "blackhole-2ch"
cask "boop"
cask "brave-browser"
cask "brooklyn"
cask "browserstacklocal"
cask "camo-studio"
cask "cheatsheet"
cask "clay"
cask "coteditor"
cask "criptext"
cask "cron"
cask "cryptomator"
cask "daisydisk"
cask "diffusionbee"
cask "electrum"
cask "exodus"
cask "ferdium"
cask "fig"
cask "figma"
cask "firefox-developer-edition"
cask "fliqlo"
cask "font-cascadia-code"
cask "font-fira-code"
cask "font-microsoft-office"
cask "fontbase"
cask "gitkraken"
cask "gitup"
cask "google-chrome"
cask "gpg-suite"
cask "handbrake"
cask "iina"
cask "ipfs"
cask "iterm2"
cask "kaleidoscope"
cask "kap"
cask "keka"
cask "kekaexternalhelper"
cask "keybase"
cask "kindle"
cask "knockknock"
cask "ledger-live"
cask "logitech-options"
cask "lulu"
cask "medis"
cask "microsoft-teams"
cask "monitorcontrol"
cask "motrix"
cask "mullvadvpn"
cask "notable"
cask "numi"
cask "obs"
cask "obsidian"
cask "opera"
cask "orbstack"
cask "oversight"
cask "postman"
cask "protonvpn"
cask "proxyman"
cask "qlvideo"
cask "ransomwhere"
cask "raycast"
cask "remnote"
cask "rio"
cask "rsyncosx"
cask "shottr"
cask "sidekick"
cask "signal"
cask "sketch"
cask "skype"
cask "spotify"
cask "stack-stack"
cask "tailscale"
cask "telegram"
cask "the-unarchiver"
cask "tradingview"
cask "transmit"
cask "ultimaker-cura"
cask "utm"
cask "via"
cask "visual-studio-code"
cask "vlc"
cask "warp"
cask "zoom"
mas "Actions", id: 1586435171
mas "Anybox", id: 1593408455
mas "Canary Mail", id: 1236045954
mas "Color Picker", id: 1545870783
mas "Cryptowatch Desktop", id: 1527457231
mas "Dato", id: 1470584107
mas "Dropover", id: 1355679052
mas "Focalboard", id: 1556908618
mas "GarageBand", id: 682658836
mas "Gifski", id: 1351639930
mas "iMovie", id: 408981434
mas "Invoice Ninja", id: 1503970375
mas "JPEGmini", id: 498944723
mas "JSON Helper", id: 453114608
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Parcel", id: 639968404
mas "PhotoBulk Lite", id: 1304315057
mas "Reeder", id: 1449412482
mas "Shareful", id: 1522267256
mas "Spike", id: 707452888
mas "Unsplash Wallpapers", id: 1284863847
mas "UPDF", id: 1619925971
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
vscode "akamud.vscode-javascript-snippet-pack"
vscode "alefragnani.Bookmarks"
vscode "alefragnani.project-manager"
vscode "alexkrechik.cucumberautocomplete"
vscode "amazonwebservices.aws-toolkit-vscode"
vscode "atlassian.atlascode"
vscode "atomiks.moonlight"
vscode "Blackboxapp.blackbox"
vscode "capaj.vscode-standardjs-snippets"
vscode "christian-kohler.npm-intellisense"
vscode "christian-kohler.path-intellisense"
vscode "coder.coder-remote"
vscode "codezombiech.gitignore"
vscode "csstools.postcss"
vscode "dbaeumer.vscode-eslint"
vscode "dfinity-foundation.vscode-motoko"
vscode "donjayamanne.git-extension-pack"
vscode "donjayamanne.githistory"
vscode "douglaszaltron.nunjucks-vscode-extensionpack"
vscode "dtsvet.vscode-wasm"
vscode "dzannotti.vscode-babel-coloring"
vscode "eamodio.gitlens"
vscode "EditorConfig.EditorConfig"
vscode "enkia.tokyo-night"
vscode "esbenp.prettier-vscode"
vscode "firefox-devtools.vscode-firefox-debug"
vscode "formulahendry.auto-close-tag"
vscode "formulahendry.auto-rename-tag"
vscode "genieai.chatgpt-vscode"
vscode "ginfuru.better-nunjucks"
vscode "GitHub.copilot"
vscode "GitHub.vscode-pull-request-github"
vscode "GregorBiswanger.json2ts"
vscode "Gruntfuggly.todo-tree"
vscode "helgardrichard.helium-icon-theme"
vscode "helixquar.randomeverything"
vscode "humao.rest-client"
vscode "ionutvmi.path-autocomplete"
vscode "jasonnutter.search-node-modules"
vscode "kisstkondoros.typelens"
vscode "kisstkondoros.vscode-codemetrics"
vscode "kisstkondoros.vscode-gutter-preview"
vscode "loiane.ts-extension-pack"
vscode "lokalise.i18n-ally"
vscode "mattpocock.ts-error-translator"
vscode "mgmcdermott.vscode-language-babel"
vscode "mhutchie.git-graph"
vscode "mikestead.dotenv"
vscode "motoko-lsp-client.motoko-lsp-client"
vscode "mrmlnc.vscode-scss"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "ms-vsliveshare.vsliveshare"
vscode "ms-vsliveshare.vsliveshare-pack"
vscode "naumovs.color-highlight"
vscode "nrwl.angular-console"
vscode "Orta.vscode-jest"
vscode "pmneo.tsimporter"
vscode "pnp.polacode"
vscode "redhat.vscode-yaml"
vscode "rvest.vs-code-prettier-eslint"
vscode "sburg.vscode-javascript-booster"
vscode "sourcegraph.cody-ai"
vscode "standard.vscode-standard"
vscode "Stepsize.stepsize"
vscode "Stepsize.tech-debt-tracker"
vscode "stringham.move-ts"
vscode "stylelint.vscode-stylelint"
vscode "usernamehw.errorlens"
vscode "VisualStudioExptTeam.intellicode-api-usage-examples"
vscode "VisualStudioExptTeam.vscodeintellicode"
vscode "vsls-contrib.gitdoc"
vscode "waderyan.gitblame"
vscode "walkme.Javascript-extension-pack"
vscode "WallabyJs.console-ninja"
vscode "wix.vscode-import-cost"
vscode "xabikos.JavaScriptSnippets"
vscode "yzhang.markdown-all-in-one"
vscode "Zignd.html-css-class-completion"
vscode "ziyasal.vscode-open-in-github"
